<%- include("../partials/header") %>
<div class="container">
    <div class="row">
        <div class="col-md-3">
            <p class="lead">RentApartman</p>
            <div class="list-group">
                <li class="list-group-item active">Info 1</li>
                <li class="list-group-item">Info 2</li>
                <li class="list-group-item">Info 3</li>
            </div>
        </div>
        <div class="col-md-9">
            <div class="thumbnail">
                <img class="img-responsive" src="<%= apartment.image %>">
                <div class="caption-full">
                    <% if(currentUser){ %>
                        <button class="btn btn-success pull-right" onclick="window.location.href = '<%= apartment.url %>';">Čitaj ovdje !</button>
                    <% } %>
                    <h4><a><%=apartment.name%></a></h4>
                    <p><%= apartment.description %></p>
                    <p>
                        <em>Podnio korisnik <%= apartment.author.username %></em>
                    </p>
                    <% if(currentUser && apartment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                        <a class="btn btn-xs btn-warning" href="apartments/<%= apartment._id %>/edit">Edit</a>
                        <form id="delete-form" action="apartments/<%= apartment._id %>?_method=DELETE" method="POST">
                            <button class="btn btn-xs btn-danger">Delete</button>
                        </form>
                    <% }%>
                </div>
            </div>
            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/RentApartman/apartments/<%= apartment._id %>/comments/new">Add New Comment</a>
                </div>
                <hr>
                <% apartment.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="pull-right">10 days ago</span>
                            <p>
                                <%= comment.text %>
                            </p>
                        <% if(currentUser && comment.author.id.equals(currentUser._id) || currentUser && currentUser.isAdmin){ %>
                            <a class="btn btn-xs btn-warning"
                               href="/RentApartman/apartments/<%=apartment._id %>/comments/<%=comment._id %>/edit">Edit</a>
                            <form id="delete-form" action="/apartments/<%=apartment._id %>/comments/<%=comment._id %>?_method=DELETE" method="POST">
                                <input type="submit" class="btn btn-xs btn-danger" value="Delete">
                            </form>
                        <% } %>
                        </div>
                    </div>
                <% }) %>
            </div>
        </div>
    </div>
</div>

<%- include("../partials/footer") %>
